.sidebar_row {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: 10px;
}

.sidebar_row h4 {
    padding-left: 10px;
    font-weight: bolder;
}

.sidebar_row h4:hover {
    color: #2e81f4;
    font-family: sans-serif;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}